.listPage {
    height: 100%;
    overflow: auto;
}

.contain {
    padding-top: 106px;
    background-color: #ddd;
}

.contain li {
    height: 170px;
    background-size: cover;
    margin-bottom: 5px;
    position: relative;
    /*background-image:url(../imgs/list1.jpg);*/
    color: hsla(0, 0%, 100%, .8);
}

.contain li div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
}

.contain li h4 {
    position: absolute;
    z-index: 10;
    color: hsla(0, 0%, 100%, .8);
    width: 100%;
    text-align: center;
    font-size: 24px;
    top: 50px;
}

.contain li p {
    position: absolute;
    z-index: 10;
    color: hsla(0, 0%, 100%, .8);
    width: 100%;
    text-align: center;
    font-size: 16px;
    top: 85px;
}

footer {
    text-align: center;
    font-size: 12px;
    color: #666;
    background-color: #ddd;
    height: 60px;
    line-height: 60px;
}